<div class="heading">
  <h1> CONTACT US </h1>
</div>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <h2>ADDRESS</h2>
    <p>Suite 62 Nandu Plaza, Ndola Crescent, Wuse,<br>
      Zone 5, Abuja, Nigeria.</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>CALL US</h2>
    <p>Phone: +234-806-253-8412</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>EMAIL US</h2>
    <p>info@solaristique.com.ng</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <h2>WORKING HOURS</h2>
    <p>Monday-Friday: 9AM-5PM<br>Saturday: 9AM to 1PM</p>
  </mat-grid-tile>
</mat-grid-list>


<form>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" fxFlex="50%">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" required>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50%">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" required>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput type="text" name="subject" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput name="message" required></textarea>
    </mat-form-field>
</form>
  











