.contact{
  background-color: #f2f5f4;

}
.heading2{
  background-color: #f2f5f4;
  padding: 40px;
  text-align: center;
  font-weight: bolder;
}
h3,h4{
  text-align: center;
  padding-top: 20px;
}
h4{
  padding-bottom: 20px;
}
h3{
  color:rgb(190,37,176) ;
}

.contact-card {
  padding-top: 20px;
  margin-left: 50px;
  width: 250px;
  height: fit-content;
  padding: 16px;
  /* box-shadow: 0px 6px 8px rgba(32, 216, 17, 0.5); */
  box-shadow: 0px 6px 8px -3px rgba(32, 216, 17, 0.5), 
  5px 0px 5px -3px rgba(32, 216, 17, 0.5), 
  -5px 0px 5px -3px rgba(32, 216, 17, 0.5);
}
.form-control {
   border: rgb(32, 216, 17) 2px solid;
 }
 .btn{
  margin-top: 20px;
  background-color: rgb(32, 216, 17);
  width: 200px;
 }
 .elements{
   /* padding: 20px; */
   display: flex;
   justify-content: center;
   align-items: center;
  
 } 

 .divider{
  width: 88px;
  height: 2px;
  margin: 6px auto 16px;
 
  background-color: rgb(190,37,176);
} 
.btn{
  margin-left: 120px;
}

@media screen and (max-width: 600px) {
 
  .divider{
    margin-bottom: 8px;
    width: 50px;
  }
 
}
