<div class="heading2">
  <h1> CONTACT US </h1>
</div>

<h3> Talk To Us</h3>
<h4> Drop us Your Message </h4>
<div class="elements">
<mat-card class="contact-card">
  <mat-card-content>
    <h2>ADDRESS</h2>
    <p>Suite 62 Nandu Plaza, Ndola Crescent, Wuse,<br>
      Zone 5, Abuja, Nigeria.</p>
    <h2>CALL US</h2>
    <p>Phone: +234-806-253-8412</p>
    <h2>EMAIL US</h2>
    <p>info@solaristique.com.ng</p>
    <h2>WORKING HOURS</h2>
    <p>Monday-Friday: 9AM-5PM<br>Saturday: 9AM to 1PM</p>
  </mat-card-content>
</mat-card>




<div class="col-md-6" style="margin-left: 10px;">
 <form class="user-message" action="">
   <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
     <strong>Hi, <span id="formname"></span></strong> We have received your message. Thank you for reaching out.
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div> -->
   <div class="row">
     <div class="col-md-6">
       <div class="mb-3">
         <label for="name" class="form-label"
           >First Name</label
         >
         <input
           type="text"
           class="form-control"
           id="firstName" />
       </div>
     </div>
     <div class="col-md-6">
       <div class="mb-3">
         <label for="name" class="form-label">Last Name</label>
         <input type="text" class="form-control" id="lastName"/>   
       </div>
     </div>
   </div>
   <div class="mb-3">
     <label for="email" class="form-label">Email address</label>
     <input type="email" class="form-control" id="email" required>
   </div>
   <div class="mb-3">
     <label for="phoneNumber" class="form-label">Phone Number</label>
     <input type="number" class="form-control" id="phoneNumber">
   </div>
   <div class="form-floating">
     <label for="message"class="form-label"> Message</label>
     <textarea class="form-control" placeholder="Leave a comment here" id="message" style="height: 100px"></textarea>
   </div>
    <button type="submit" class="btn  btn-lg btn-block">Submit</button>
  </form>

</div>


</div>






































  











