.heading{
  background-color: #f2f5f4;
  padding: 40px;
  color: #4b605c
}

h1{
    text-align: center;
}

mat-grid-tile {
  background-color: #fff;
  color: #334240;
  box-shadow: -5px -5px 40px 0 rgb(0 0 0 / 20%);

  }
 
mat-grid-list{
    width: 50vw;
   
   
  }

 
  .form-control {
    border: #50d284 2px solid;
    background-color: #0f221f;
  }
 
  .elements{
    padding: 20px;
    display: flex;
    
  }
 

 