.products{
    background-color: #f2f5f4;
}
h1,h3{
    text-align: center;
    font-weight: bolder;
}

.heading{
    padding-top: 30px;
}
.divider{

    width: 88px;
    height: 2px;
    margin: 6px auto 16px;
    border-radius: 1.5px;
    background-color: rgb(190,37,176);
   
}
.btn{
    background-color: rgb(190,37,176);
    padding-left: 40px;
    padding-right: 40px;
}

  .row{
    margin-top: 30px;
    background-color: #f2f5f4;
    margin-left: 120px;
    margin-right: 120px;
  }
  mat-card {
    height: 100%;
    border-radius: 16px;
  }

  mat-card-content{
    text-align: center;
  }
  .last{
    margin-top: 40px;
    text-align: center;
  }
 
  

@media screen and (max-width: 600px) {
.divider{
    margin-bottom: 8px;
    width: 50px;
  }
}