<div class="products">
<div class="heading">
  <h1>
    OUR PRODUCTS
    </h1>
</div>

<div class="divider"></div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let product of products">
    <mat-card>
      <img src="{{ product.imageUrl }}" class="card-img-top"  height="200px"alt="{{ product.name }}">
      <mat-card-content>
        <h3 class="card-title">{{ product.name }}</h3>
        <hr style="background-color:black">

        <p class="card-text">{{ product.description }}</p>
        <hr style="background-color:black">

        <p class="card-text"> {{ product.price }}</p>
        <div class="card-footer">
          <button type="button" class="btn">Buy product</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>     
</div>

<div class="last">
  <p > Do not hesitate to contact us if you have any questions about our products
    .Were here to help .
  </p>

</div>

<app-footer> </app-footer>
</div>

