.carbon{
    background-color: #bfc9c6;
}
.btn{
    background-color: rgb(190,37,176);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 120px;
    color: black;
}
.card{
    display: flex;
    flex-direction: column;

}
.cart-card{
 
    box-shadow: 5px 5px 7px rgb(78, 85, 78);
    margin-bottom: 20px;
    background-color: #e8e6e8;

}
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 30px;
}
.btn-outline-custom-purple {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr{
    padding: 10px;
    font-weight: 600;
    width: 10px;
}
.cart-total{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
.last{
    font-size: 30px; 
    text-align: center;
    margin-top: 30px;
}

  .cart-item-details{
    /* padding-left: 350px; */
    text-align: center;
  }
  .cart-item-price{
    text-align: center;
    font-size: 22px;
    margin-left: 60px;
  }
  .cart-item-description{
    text-align: center;
    padding: 10px;

  }
  .cart-item-quantity{
    display: flex;
    justify-content: space-around;
    background-color: #f4b504;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .bi{
    color:#f4b504
  }
  /* #button{
    background:  rgba(231, 233, 240, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 140px;
    height: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin-top: 3px;
}
#caption{
    font-family: 'Yeseva One', cursive;
    color: #f4b504;
    font-weight: 300px;
    font-size: 5.8rem;
    padding-top: 23%;
    letter-spacing: 5px;
    /* line-height: 300px; */
   
    /* margin-top: 20px; */
    /* padding-bottom: 30%; */

/* #caption2{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 43px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 3rem;
} */

/* #nav{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yeseva One', cursive;
}  */
/* #denis{
    background-image: url('/assets/andrae-ricketts-Q9_zv0LN4jU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
} 
.cart-card{
    background-color: #f2f5f4;
    padding: 40px;
  */

h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    text-align: center;
}
.top{
    display: flex;

}
@media (max-width: 570px) {

.cart-item-details{
    margin-left: 10px;
    text-align: center;
}
.cart-container {
    margin: 10px;
    text-align: center;
   
}

}

@media (max-width: 870px) {
    .cart-item-details{
        margin-left: 10px;
        text-align: center;
    }
    .cart-container {
        margin-left: 10px;
        text-align: center;
    }
}