.carbon{
    background-color: #bfc9c6;
}
.btn{
    background-color: rgb(190,37,176);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 120px;
    color: black;
}
.intro{
    padding: 30px;
    background-color:#e8e6e8;
    text-align: center;
    margin: 20px;
}
.intro h2{
    font-size: 36px;
}
.card{
    display: flex;
    flex-direction: row;

}
.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    margin: 45px;
}
.cart-card{
 
    box-shadow: 5px 5px 7px rgb(78, 85, 78);
    margin-bottom: 20px;
    background-color: #e8e6e8;

}
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 50px;
}
.btn-outline-custom-purple {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr{
    padding: 10px;
    font-weight: 600;
    width: 10px;
}
.cart-total{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.last{
    text-align: center;
    margin-top: 40px;
}

  .cart-item-details{
    text-align: center;
  }
  .cart-item-price{
    text-align: center;
    font-size: 22px;
    margin-left: 60px;
  }
  .cart-item-description{
    text-align: center;
    padding: 10px;

  }
  .cart-item-quantity{
    display: flex;
    justify-content: space-around;
    background-color: #f4b504;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .bi{
    color:#f4b504
  }


h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    text-align: center;
}
.top{
    display: flex;

}
@media (max-width: 570px) {

.cart-item-details{
    margin-left: 10px;
    text-align: center;
}
.cart-container {
    margin: 10px;
    text-align: center;
   
}

}

@media (max-width: 870px) {
    .cart-item-details{
        margin-left: 10px;
        text-align: center;
    }
    .cart-container {
        margin-left: 10px;
        text-align: center;
    }
}