<div class="carbon">
  <div class="cart-container">
    <div *ngIf="cartItems.length > 0; else emptyCart">
    
      <mat-card class="cart-card  card" *ngFor="let item of cartItems">
        <div class="image">
          <img src="{{ item.product.image_url  }}" alt="{{ item.product.name }}" class="cart-item-image" [width]="400">
        </div>

        <div class="cart-item-details">
          <h3 class="cart-item-name">{{ item.product.name }}</h3>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>

          <p class="cart-item-description">{{ item.product.description }}</p>
          <p class="cart-item-price">Product price: {{ item.product.price | currency }}</p>
          <div class="cart-item-quantity">
            <button class="cart-item-button" (click)="decreaseQuantity(item)">-</button>
            <p class="cart-item-quantity-text">{{ item.quantity }}</p>
            <button class="cart-item-button" (click)="increaseQuantity(item)">+</button>
          </div>
          <button class="btn-outline-custom-purple " (click)="removeItem(item)">Remove</button>
        </div>
      </mat-card>
      
      <div class="last">
        <hr>
        <button [routerLink]="['/products']" class="btn btn-custom-purple  ms-2"> Add more Products</button>
        <hr>
      </div>

      <div class="cart-total">
        <p class="cart-total-text">Total: {{ getTotal() | currency }}</p>
      <hr>
        <button class="btn btn-outline-custom-purple ms-2" (click)="checkout()">Checkout</button>
      </div>
    </div>
    <ng-template #emptyCart>
      <div class="emptyCart">
        <div class="pa">
          <p>Your cart is empty.<br> Go Back to select products <br>  </p>
        </div>
  
        <div class="back">
          <button [routerLink]="['/products']" class="btn btn-custom-purple  ms-2"> Back </button>
        </div>

      </div>
   

    </ng-template>
  </div>
<hr>


<div class="intro">
  <h2> Need Help ?</h2>
  <p>  Talk to Us </p>
  <button class="btn btn-outline-custom-purple ms-2" type="button" routerLink="/contact">Help</button>
</div>




<app-footer> </app-footer>
</div>

