
<h4> Products Selected    </h4>

<img [src]="'assets/images/' + productId + '.jpg'" class="card-img-top" width="200px" alt="">





<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img src="{{ item.product.imageUrl }}" alt="{{ item.name }}" class="cart-item-image">
      <div class="cart-item-details">
        <h3 class="cart-item-name">{{ item.product.name }}</h3>
        <p class="cart-item-description">{{ item.product.description }}</p>
        <p class="cart-item-price">{{ item.product.price | currency }}</p> id
        <div class="cart-item-quantity">
          <button class="cart-item-button" (click)="decreaseQuantity(item)">-</button>
          <p class="cart-item-quantity-text">{{ item.quantity }}</p>
          <button class="cart-item-button" (click)="increaseQuantity(item)">+</button>
        </div>
        <button class="cart-item-remove" (click)="removeItem(item)">Remove</button>
      </div>
    </div>
    <div class="cart-total">
      <p class="cart-total-text">Total: {{ getTotal() | currency }}</p>
      <button class="cart-checkout" (click)="checkout()">Checkout</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty</p>
  </ng-template>
</div>

 
<a [routerLink]="['/products']" class="btn btn-custom-purple "> Go Back</a>


  <hr>
<app-footer>  </app-footer>
