/* .aboutus{
  background-color: #f2f5f4;
} */

.heading{
   
    text-align: center;
    font-weight: bolder;
    padding: 30px;
    margin-top: 0;
    background-color:  #d3d8d7;

  }
  .divider{
    width: 88px;
    height: 2px;
    margin: 6px auto 16px;  
    background-color: rgb(190,37,176);
}

 
h4,h2{

  text-align: center;
  padding: 20px;
  color: rgb(190,37,176);

  
}
h2{
  color: rgb(32, 216, 17);
}
.elements{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #f2f5f4;


}
.image2 p{
  text-align: center;
  padding: 20px;
  color: rgb(190,37,176);
}
.aboutus {
  width: 370px;
  text-align: center;
  padding: 20px;
  
}

.about{
  width: 370px;
  text-align: center;
  padding: 20px;
  
}

.bg-custom-purple {
  background-color: rgb(190,37,176);
  margin-top: 50px;
}

.card-title {
  margin-left: 10px;
  display: inline-block;
}

.btn-group .btn:hover {
  background-color: white;
  color: rgb(190,37,176);
}
.social{
  background-color: #f2f5f4;
}

.card {
  height: 280px; 
  width: 600px;
  margin-left: 420px;
  border-radius: 16px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  font-weight: bolder;
  order: 2; /* Change the order of the card title */
}


.btn{
  margin-left: 20px;
  padding: 10px;
  
}
#youtube{
  margin-top: 20px;
}

.carousel-item {
  transition: transform 1s ease-in-out;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */

}

.carousel-item.active {
  transform: translateX(0);
}

.carousel-item.next {
  transform: translateX(100%);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

/* Add custom styles to show all images initially */
.carousel-item-initial {
  transform: translateX(0) !important;
  /* opacity: 1 !important; */

}








@media screen and (max-width: 600px) {
 
  .elements{
   
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .image,img{
    width: 370px;
  }
  .divider{
    margin-bottom: 8px;
    width: 50px;
  }
  .card{
    width: 370px;
    margin-left: 40px;
    height: 350px;
  }
  .btn{
    margin-top: 20px;
  }
}