
<!-- <div class="aboutus"> -->
      <div class="heading">
        <h1> ABOUT US </h1>
        <div class="divider"></div>
       </div>

    <h4>Who are we?</h4>

    <div class="elements"> 
      <div class="image">
          <img src="/assets/images/agrf pix.jpeg" alt="" [height]="300">
      </div>
      <div class="aboutus"> 
          <p>
              Solaristique Suzushi is a product of Solaristique 
              Nigeria Limited. Solaristique Nigeria is a recycling 
              company that is focused on making sustainable clean 
              energy and environment-friendly solutions targeted at 
              BoP households, clinics, and farmers in rural and peri-urban communities to SMEs, Hospitals, Big corporations,
              and Households in urban areas.  Solairtsique suzushi is our off-grid cold storage products and services sector. 

          </p>  
      </div>

    </div>

    <div class="elements">
        <div class="about">
            <p>In Sub-Saharan Africa, not only individual homes but also farmers,  pharmacies, hotels, restaurants, bars, (SMEs)etc. lack access to affordable constant cold storage. This is due to an unstable power supply that makes cold storage applications very difficult and expensive. On average Nigerians enjoy only 8 hours of electricity supply out of the 24 hours daily (BBC, 2020). This situation has led to a large amount of food and beverage waste and makes it difficult for pharmacies, hospitals, and clinics to maintain critical drugs and samples -resulting in loss of lives, food insecurity, poverty, and extreme hunger.
            As a solution, we make a series of affordable off-grid cold storage solutions. Our products are (i) solar freezers, (ii) slow-defrosting ice blocks, (iii) Chill tents, and (iv) Tri-cycled-solar freezers
          </p>

        </div>
        <div class="image2">
            <img src="assets/images/warehouse.png" alt="" height="300px">
            <p> Our Warehouse</p>
        </div>

    </div>

    <div class="heading">
      <h1> Events and Appearances </h1>
      <div class="divider"></div>
     </div>

   
    


     <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

      <!-- Slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/_LK23475.jpg" width="500px" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/230328_KDEN_PHT163.jpg" width="500px" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/230328_Ldena_PHT068.jpg"width="500px"  alt="Image 3">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/agrf pix.jpeg" width="500px" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/230328_KDEN_PHT159.jpg" width="500px" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/agrf podium.jpg" width="500px" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/IMG_2355.jpeg" width="500px" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/pitch agrf.jpg" width="500px"height="400px" alt="Image 4">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/dinner photo AGrf.jpeg" width="500px"  alt="Image 4">
        </div>


        
      </div>
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>









    <div class="social">

      <h2> Reach Us On Social Media</h2>

      <div class="divider"></div>


      <div class="card bg-custom-purple d-flex align-items-center justify-content-center flex-column">
        <div class="card-body text-center">
          <span class="bi bi-hand-thumbs-up-fill fs-1 one"></span>
          <h3 class="card-title fw-bold text-white mb-0 mt-3 order-2">Follow Us on Social Media</h3>
          <div class="btn mt-3   ms-2 order-3" role="group" aria-label="Social Media Links">
            <a href="https://web.facebook.com/solaristiquenigeria" class="btn btn-outline-light btn-sm"><span class="bi bi-facebook"></span> Facebook</a>
            <a href="https://twitter.com/solaristique?t=86506P_KhC6Ih9lXJfXQbw&s=08" class="btn btn-outline-light btn-sm"><span class="bi bi-twitter"></span> Twitter</a>
            <a href="https://www.instagram.com/solaristique/" class="btn btn-outline-light btn-sm"><span class="bi bi-instagram"></span> Instagram</a>
            <a href="#" class="btn btn-outline-light btn-sm"><span class="bi bi-linkedin"></span> LinkedIn</a>
          <a href="https://www.youtube.com/channel/UCM3n4UR6MR5HiMdhNkZcPbw" id="youtube" class="btn btn-outline-light btn-sm"><span class="bi bi-youtube"></span> YouTube</a>
            </div>
          </div>
        </div> 
    </div>

<!-- </div> -->


<app-footer> </app-footer>










