

<div class="heading">
    <h1> ABOUT US </h1>

</div>



<div class="aboutus">
    <p>
        Solaristique Nigeria is a recycling Company that is
         focused on making sustainable clean energy and environment-friendly solutions targeted at BoP households,
          clinics, and farmers in rural and peri-urban communities to SMEs , Hospitals, Big corporations and Households in urban areas. We aim to make the greatest possible global impact in addressing the environmental issues associated wastes. Our Core sectors are WASTE COLLECTION, COLD STORAGE, and ALTERNATIVE BUILDING MATERIALS.      
    </p>
</div>



<p>WASTE COLLECTION</p>
<div class="progress"></div>
<p>COLD STORAGE </p>
<div class="progress"></div>



    



















