<footer class="mat-elevation-z2">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Solarstique</h3>
        <ul>
          <li>Suite 62 Nandu Plaza, Ndola Crescent, Wuse</li>
          <li>Zone 5, Abuja, Nigeria.</li>
          <li>Phone: +234-806-253-8412</li>
          <li>Email: info@solaristique.com.ng</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Our Services</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Carbon Credits</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Carbon Credits</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3> Our Newsletter</h3>
        <p>We are seeking, funding and partnership from ventures  capitalist, government , grants giving organizations ,accelerators, environmental organizations, micro finance banks etc. to enable to us scale our solutions quickly.</p> 
        <input type="email" name="email" >
        <button type="submit">Subscribe</button>      </div>
      </div>
  </footer>
  
  <footer class="last">
    <div class="last-container">
      <p>&copy; 2023 copyright Solarstique. All rights reserved.</p>
      <p>Designed by  Miss Kaswii</p>
    </div>
</footer>
  