


<!-- 
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
  <mat-nav-list>
    <img src="assets/images/logo.png"[height]="42" alt="Solarstique">

    <a mat-list-item routerLink="/" routerLinkActive="active" (click)="sidenav.toggle()">HOME</a>
    <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.toggle()">ABOUT US</a>
    <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="sidenav.toggle()">PRODUCTS</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="sidenav.toggle()">CONTACT</a>

    <div class="btn-group side" role="group" aria-label="Button group with two buttons">
      <button type="button" class="btn btn-custom-purple">Buy Products</button>
      <button type="button" class="btn btn-outline-custom-purple my-4">Carbon Credits</button>
    </div>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  </mat-nav-list>
 </mat-sidenav>

  <mat-sidenav-content> 
    <mat-toolbar-row>
      
      <span class="menu-spacer"></span>
      <div class="navbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/logo.png"[height]="42" alt="Solarstique">
        <a mat-button routerLink="/"routerLinkActive="active">HOME</a>
        <a mat-button routerLink="/about"routerLinkActive="active"class="fa fa-info-circle">ABOUT</a>
        <a mat-button routerLink="/products"routerLinkActive="active">PRODUCTS</a>
        <a mat-button routerLink="/contact"routerLinkActive="active">CONTACT</a>
        <div class="btn-group" role="group" aria-label="Button group with two buttons">
          <button type="button" class="btn btn-custom-purple">Buy Products</button>
          <button type="button" class="btn btn-outline-custom-purple ms-2">Carbon Credits</button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar-row >     
  <span class="menu-spacer"></span>
  <div class="navbar">
    <img src="assets/images/logo.png"[height]="42" alt="Solarstique">
    <a mat-button routerLink="/" routerLinkActive="active" class="home-icon">
      <i class="bi bi-house-door-fill"></i> HOME
    </a>
    <a mat-button routerLink="/about" routerLinkActive="active" class="home-icon">
      <i class="bi bi-info-circle-fill"></i> ABOUT
    </a>    
    <a mat-button routerLink="/products" routerLinkActive="active" class="home-icon">
      <i class="bi bi-bag-fill"></i> PRODUCTS
    </a>
        <a mat-button routerLink="/contact" routerLinkActive="active" class="home-icon">
      <i class="bi bi-envelope-fill"></i> CONTACT
    </a>   
  
    <a *ngIf="!authenticated" mat-button routerLink="/auth" routerLinkActive="active">Login</a>

   
    <div  *ngIf="authenticated"  class="btn-group" role="group" aria-label="Button group with two buttons">

      <a  mat-button  routerLink="/buy"routerLinkActive="active" class="btn btn-custom-purple home-icon">
        <i class="bi bi-cart-fill"></i>CART
      </a>  
      <a  routerLink="/carbon"routerLinkActive="active"class="btn btn-custom-purple">Carbon Credits</a>
    </div>
 
    <button mat-button [matMenuTriggerFor]="menu"class="btn btn-custom-purple">
      {{ username }}
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/sell">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    






















 













