
 /* mat-sidenav-container{
  height: 100%;
}
mat-sidenav,mat-sidenav-content{
  padding: 16px;
}
mat-sidenav{
  background-color: aqua;
  width: 170px;
}
.mat-nav-list{
top: 40;
}
.side{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}  */

  /* .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* adjust this width to your preference 
  } */
 
 

h1{
  color: rgb(32, 216, 17);
  font-weight: bolder;
  
}
h4{
  color: rgb(190,37,176);

}

.heading{
  margin-top: 30px;
  margin-left: 72px;
  text-align: center;
  width: 370px;
  padding: 30px;
  /* background-color: aqua; */
}
.information{

  display: flex;
  justify-content: space-around;
}
.images{
  margin-top: 30px;
  height:600px;
}
.bi {
  color: rgb(251, 227, 12); 
  font-size: 24px; 
  margin-right: 10px; 
}

@media (max-width: 600px) {
  .information{
    flex-direction: column;
  }
 .images img{
  width: 370px;
  margin-left: 60px;
 }
}


