
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Solarstique </span>
  <span class="example-spacer"></span>
  <nav>
    <ul>
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/about">ABOUT US</a></li>
      <li><a routerLink="/contact">CONTACT US</a></li>
    </ul>
  </nav>
  <div class="btn-row">
    <button mat-raised-button color="primary">Carbon Credits </button>

    <button mat-raised-button color="primary">Buy Products </button>

</div>
</mat-toolbar>
</p>












