<!-- 
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
  <mat-nav-list>
    <img src="assets/images/logo.png"[height]="42" alt="Solarstique">

    <a mat-list-item routerLink="/" routerLinkActive="active" (click)="sidenav.toggle()">HOME</a>
    <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.toggle()">ABOUT US</a>
    <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="sidenav.toggle()">PRODUCTS</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="sidenav.toggle()">CONTACT</a>

    <div class="btn-group side" role="group" aria-label="Button group with two buttons">
      <button type="button" class="btn btn-custom-purple">Buy Products</button>
      <button type="button" class="btn btn-outline-custom-purple my-4">Carbon Credits</button>
    </div>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  </mat-nav-list>
 </mat-sidenav>

  <mat-sidenav-content> 
    <mat-toolbar-row>
      
      <span class="menu-spacer"></span>
      <div class="navbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/logo.png"[height]="42" alt="Solarstique">
        <a mat-button routerLink="/"routerLinkActive="active">HOME</a>
        <a mat-button routerLink="/about"routerLinkActive="active">ABOUT</a>
        <a mat-button routerLink="/products"routerLinkActive="active">PRODUCTS</a>
        <a mat-button routerLink="/contact"routerLinkActive="active">CONTACT</a>
        <div class="btn-group" role="group" aria-label="Button group with two buttons">
          <button type="button" class="btn btn-custom-purple">Buy Products</button>
          <button type="button" class="btn btn-outline-custom-purple ms-2">Carbon Credits</button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar-row >     
  <span class="menu-spacer"></span>
  <div class="navbar">
    <img src="assets/images/logo.png"[height]="42" alt="Solarstique">
    <a mat-button routerLink="/"routerLinkActive="active">HOME</a>
    <a mat-button routerLink="/about"routerLinkActive="active">ABOUT</a>
    <a mat-button routerLink="/products"routerLinkActive="active">PRODUCTS</a>
    <a mat-button routerLink="/contact"routerLinkActive="active">CONTACT</a>
    <div class="btn-group" role="group" aria-label="Button group with two buttons">
      <a href="/buy-products" class="btn btn-custom-purple">Buy Products</a>
      <a href="/carbon" class="btn btn-outline-custom-purple ms-2">Carbon Credits</a>
    </div>
  </div>
</mat-toolbar-row>























 













