<div class="carbon">
    <div class="top">
        <video class="page-header__video" autoplay="" muted="" loop="" playsinline=""
            src="https://player.vimeo.com/progressive_redirect/playback/777177264/rendition/720p/file.mp4?loc=external&amp;signature=6e0cdef849af5d13975f3192fee2e63de7b305d0125b9ceb02d25807fd51226f"></video>

        <div class="inner_wrapper">
            <div class="page-header_inner">
                <h1 class="page-header_title">
                    Accelerating Global Carbon Cleanup
                </h1>

            </div>

        </div>
    </div>

    <div class="heading">
        <h2> Carbon Market Fundamentals </h2>

         <div class="divider"></div>
    </div>
    <div class="information">
        <div class="image">
            <img src="assets/images/carbon.png" alt="" width="600px">
        </div>
        <div class="inner">
            <h4>What are Carbon Markets?How do they opperate?</h4>
            <p> To better understand some of these market fundamentals ,we have links that are highly recommended for
                new market participants You can learn
                about carbon markets,market dynamics and emerging market developments.
            </p>

            <a href="https://corporatefinanceinstitute.com/course/carbon-market-fundamentals/" target="_blank">
                <button type="button" class="btn">Learn More</button>
            </a>

        </div>

    </div>
    <div class="heading">
        <h2> Carbon Emission Effects </h2>

         <div class="divider"></div>
    </div>


    <div class="information2">
        <div class="inner2">
            <h4>What are Carbon Emission?How do we reduce its effects?</h4>
            <p> To better understand some of the effects of carbon emmission ,we have links that are highly recommended for
                new participants  in this fight for a better environment.You can learn
                about carbon effects and make more informed decisions on how to protect your immediate environment'
            </p>

            <a href="https://www.greenmatters.com/p/how-do-carbon-emissions-affect-environment" target="_blank">
                <button type="button" class="btn">See More</button>
            </a>

        </div>

        <div class="image2">

            <img src="assets/images/ccarbonemit.png" alt="" width="600px">
        </div>

    </div>


    <div class="home">

        <h3> Call To Action </h3>

    </div>
    <div class="heading">
        <h2> Our Solution </h2>

         <div class="divider"></div>
    </div>



    <div class="solution">
        <ul>
            <li>
                <h2> Register </h2>
                <p> Register on the website to enable <br>Login so that you can start<br> trading in our market. </p>
                <div class="login">
                    <a mat-button routerLink="/signup" routerLinkActive="active" class="btn btn-custom-purple">Signup</a>


                </div>


            </li>
            <li>
                <h2> Market </h2>
                <p> Access the market .You can buy  <br>or sell carbon credits to limit your<br>  carbon footprint by trading. </p>
                <div class="login">
                <a mat-button routerLink="/sell" routerLinkActive="active" class="btn btn-custom-purple">Buy Credits</a>
                </div>
            </li>

            


        </ul>


        <div class="btn-last">
            <a mat-button routerLink="/sell" routerLinkActive="active">Buy Credits</a>


        </div>

    </div>


    <app-footer> </app-footer>


























</div>