<div class="carbon">
    <div class="top">
        <video class="page-header__video" autoplay="" muted="" loop="" playsinline="" src="https://player.vimeo.com/progressive_redirect/playback/777177264/rendition/720p/file.mp4?loc=external&amp;signature=6e0cdef849af5d13975f3192fee2e63de7b305d0125b9ceb02d25807fd51226f"></video>
    
            <div class="inner_wrapper">
                <div class="page-header_inner">
                    <h1 class="page-header_title">
                        Accelerating Global Carbon Cleanup
                    </h1>

                </div>

            </div>
    </div>
    <h2> Carbon Market Fundamentals  </h2>


    <div class="information">
        <div class="image">
            <img src="assets/images/carbon.png" alt="" width="600px">
        </div>
        <div class="inner">
            <h4>What are Carbon Markets?How do they opperate?</h4>
            <p> To better understand some of these market fundamentals ,we have links that are highly recommended for new market participants You can learn
                about carbon markets,market dynamics and emerging market developments.
            </p>
      
            <button type="button" class="btn">Learn More </button>

        </div>

    </div>

    <div class="carbon">


        <!-- button to buying interface -->
    </div>


<app-footer> </app-footer>


























</div>
