
  <div class="home">
  
  <div class="information">
  <div class="heading">
    <h1> COLD STORAGE </h1>
  
    <h4>Why cold storage ? </h4>
  
    <p>In Sub-Saharan Africa, not only individual homes but also 
      farmers,  pharmacies, hotels, restaurants, bars, (SMEs)etc. 
      lack access to affordable constant cold storage. This is due 
      to an unstable power supply that makes cold storage a
      pplications very difficult and expensive. On average Nigerians enjoy only 8 hours of electricity supply out of the 24 hours daily (BBC, 2020). This situation has led to a large amount of food and beverage waste and makes it difficult for pharmacies, hospitals, and clinics to maintain critical drugs and samples -resulting in loss of lives, 
      food insecurity, poverty, and extreme hunger.</p>
  </div>
  
  
  <div class="images">
    <img src="assets/images/Screenshot from 2023-04-18 16-01-44.png"[width]="600" alt="">
  </div>
  
  
  </div>
  <div class="products">
    <h1>Our Products</h1>
    <div class="divider"></div>
  
  </div>
 

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <mat-card>
        <img src="{{ product.imageUrl }}" class="card-img-top" height="200px" alt="{{ product.name }}">
        <mat-card-content>
          <h3 class="card-title">{{ product.name }}</h3>
          <hr style="background-color:black">
          <p class="card-text">{{ product.description }}</p>
          <hr style="background-color:black">

          <p class="card-text">{{ product.price }}</p>
          <div class="card-footer">
            <button type="button" class="btn">Learn More </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>     
  </div>
  
  <div class="btn-last" >
    <a href="/products" class="btn  last btn-custom-purple">View More</a>

  </div>


  <div class="heading2">
    <h1> Meet Our Partners</h1>
  
    <h4> Those Who Trust  us Beyond Our Customers </h4>
  
    <div class="divider"></div>

    
  </div>
   <app-info> </app-info>

 
  
  
<app-footer></app-footer>


  </div>