
  <div class="home">
  
    <div class="information">
      <div class="heading">
        <h1 class="one"> COLD STORAGE </h1>
      
        <h4>Why cold storage ? </h4>
      
        <p>In Sub-Saharan Africa, not only individual homes but also 
          farmers,  pharmacies, hotels, restaurants, bars, (SMEs)etc. 
          lack access to affordable constant cold storage. This is due 
          to an unstable power supply that makes cold storage a
          pplications very difficult and expensive. On average Nigerians enjoy only 8 hours of electricity supply out of the 24 hours daily (BBC, 2020). This situation has led to a large amount of food and beverage waste and makes it difficult for pharmacies, hospitals, and clinics to maintain critical drugs and samples -resulting in loss of lives, 
          food insecurity, poverty, and extreme hunger.</p>
      </div>
    
      <div class="images">
        <img src="assets/images/chill tent.jpeg"[width]="500" alt="">
      </div>
    </div>


    <div class="reviews">
      <h2> Our Process </h2>
      <div class="divider"></div>

    </div>
    <!-- <div class="first">
    <div class="process">
      <img src="/assets/images/Red Clean Professional Team Organization Graph (1).png" alt="" height="300px">
    </div>
    <div class="info">
      <p> Our Products undergo a full recycling  and value addition to make the output we all love and use in our day to day lives  </p>
    </div>
    </div> -->

    <div class="video">
      <!-- <iframe width="800px"  height="315" src="https://www.youtube.com/embed/ghryT3uNCYU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    
      <video class="page-header__video" autoplay="" muted="" loop="" playsinline="" src="https://player.vimeo.com/progressive_redirect/playback/777177264/rendition/720p/file.mp4?loc=external&amp;signature=6e0cdef849af5d13975f3192fee2e63de7b305d0125b9ceb02d25807fd51226f"></video>
      <div class="inner_wrapper">
        <div class="page-header_inner">
            <!-- <h1 class="page-header_title">
                Call To Action
            </h1> -->

        </div>

    </div>
    </div>

    <div class="reviews">
      <h2>  Customer Reviews </h2>
      <div class="divider"></div>

    </div>
    
    <h4> What our customers say about us</h4>
<div class="customers">
<ul>
<li> 
  <h2>  Ice Blocks </h2>
  <p style="text-align:'center'"> "I've been using the Ice Blocks for my outdoor<br>  events, and they have been fantastic. They truly live <br> up to their claim of not defrosting for 4 days. <br> The special food preservation solution is <br> impressive,  and I no longer have to worry about<br> my food getting spoiled. Great product!"</p>
  <div class="review">
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
  

  </div>

</li>
<li> 
  <h2> Chill Tent </h2>
  <p style="text-align:'center'"> "The Chill Tent is a lifesaver for my farm<br>  produce. The cubic meter cold storage box<br>  with a solar and saltwater power system  is genius.<br>  It keeps my fruits and vegetables fresh for longer,<br>  and the 'liquid ice' coolant is a brilliant innovation. <br> I highly recommend it to fellow farmers!"</p>
 <div class="review">
  <i class="bi bi-star"></i>
  <i class="bi bi-star"></i>
  <i class="bi bi-star"></i>
 

 </div>


</li>
<li> 
  <h2> 400lts Freezer </h2>
  <p style="text-align:'center'"> "The 400ltrs Freezer is an excellent addition<br> to my kitchen. It provides ample storage space, <br> and the cooling performance is outstanding.<br>  The build  quality is sturdy, and it's very user-friendly. <br> I'm extremely satisfied with my purchase!"</p>
  
  <div class="review">
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
    <i class="bi bi-star"></i>
  

  </div>


</li>
> 


</ul>

</div>




  <div class="products">
    <h1>Our Products</h1>
    <div class="divider"></div>
  
  </div>
 

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <mat-card>
        <img src="{{ product.imageUrl }}" class="card-img-top" height="200px" alt="{{ product.name }}">
        <mat-card-content>
          <h3 class="card-title">{{ product.name }}</h3>
          <hr style="background-color:black">
          <p class="card-text">{{ product.description }}</p>
          <hr style="background-color:black">

          <p class="card-text">{{ product.price }}</p>
          <div class="card-footer">
            <button type="button" class="btn">Learn More </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>     
  </div>
  
  <div class="btn-last" >
    <a   routerLink="/products" routerLinkActive="active" class="btn  last btn-custom-purple">View More</a>

  </div>


  <div class="heading2">
    <h1> Meet Our Partners</h1>
  
    <h4> Those Who Trust  us Beyond Our Customers </h4>
  
    <div class="divider"></div>

    
  </div>
   <app-info> </app-info>

 
  
  
<app-footer></app-footer>


  </div>