
  <div class="home">
  
    <div class="information">
      <div class="heading">
        <h1 class="one"> COLD STORAGE </h1>
      
        <h4>Why cold storage ? </h4>
      
        <p>In Sub-Saharan Africa, not only individual homes but also 
          farmers,  pharmacies, hotels, restaurants, bars, (SMEs)etc. 
          lack access to affordable constant cold storage. This is due 
          to an unstable power supply that makes cold storage a
          pplications very difficult and expensive. On average Nigerians enjoy only 8 hours of electricity supply out of the 24 hours daily (BBC, 2020). This situation has led to a large amount of food and beverage waste and makes it difficult for pharmacies, hospitals, and clinics to maintain critical drugs and samples -resulting in loss of lives, 
          food insecurity, poverty, and extreme hunger.</p>
      </div>
    
      <div class="images">
        <img src="assets/images/Screenshot from 2023-04-18 16-01-44.png"[width]="500" alt="">
      </div>
    </div>

    <div class="video">
      <!-- <iframe width="800px"  height="315" src="https://www.youtube.com/embed/ghryT3uNCYU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    
      <video class="page-header__video" autoplay="" muted="" loop="" playsinline="" src="https://player.vimeo.com/progressive_redirect/playback/777177264/rendition/720p/file.mp4?loc=external&amp;signature=6e0cdef849af5d13975f3192fee2e63de7b305d0125b9ceb02d25807fd51226f"></video>
      <div class="inner_wrapper">
        <div class="page-header_inner">
            <!-- <h1 class="page-header_title">
                Call To Action
            </h1> -->

        </div>

    </div>
    </div>

    <div class="reviews">
      <h2>  Customer Reviews </h2>
      <div class="divider"></div>

    </div>
    
    <h4> What our customers say about us</h4>
<div class="customers">
<ul>
<li> 
  <h2>    Name </h2>
  <p> What they have to say </p>
  <p>  Rate them with stars</p>

</li>
<li> 
  <h2>    Name </h2>
  <p> What they have to say </p>
  <p>  Rate them with stars</p>

</li>
<li> 
  <h2>    Name </h2>
  <p> What they have to say </p>
  <p>  Rate them with stars</p>

</li>
<li> 
  <h2>    Name </h2>
  <p> What they have to say </p>
  <p>  Rate them with stars</p>

</li>


</ul>

</div>




  <div class="products">
    <h1>Our Products</h1>
    <div class="divider"></div>
  
  </div>
 

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <mat-card>
        <img src="{{ product.imageUrl }}" class="card-img-top" height="200px" alt="{{ product.name }}">
        <mat-card-content>
          <h3 class="card-title">{{ product.name }}</h3>
          <hr style="background-color:black">
          <p class="card-text">{{ product.description }}</p>
          <hr style="background-color:black">

          <p class="card-text">{{ product.price }}</p>
          <div class="card-footer">
            <button type="button" class="btn">Learn More </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>     
  </div>
  
  <div class="btn-last" >
    <a href="/products" class="btn  last btn-custom-purple">View More</a>

  </div>


  <div class="heading2">
    <h1> Meet Our Partners</h1>
  
    <h4> Those Who Trust  us Beyond Our Customers </h4>
  
    <div class="divider"></div>

    
  </div>
   <app-info> </app-info>

 
  
  
<app-footer></app-footer>


  </div>