<div class="content">

    <h1 style="font-family: 'Yeseva One', cursive;">Welcome to the Carbon Credits Market</h1>
</div>

<div class="modal-content">
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Buy/Sell Carbon Credits</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="first">
            <mat-form-field class="carbon-field">
              <input matInput type="number" placeholder="Quantity" name="quantity">
            </mat-form-field>
  
            <mat-form-field>
              <input matInput placeholder="Price">
            </mat-form-field>

          </div>
         
          <div class="second">
            <mat-form-field class="carbon-field">
              <label>Payment Method</label>
              <mat-radio-group name="paymentMethod">
                <mat-radio-button value="creditCard">Credit Card</mat-radio-button>
                <mat-radio-button value="paypal">PayPal</mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
  
            <mat-form-field class="carbon-field">
              <label>Date of purchase or sell</label>
  
              <input matInput type="date" placeholder="Transaction Date" name="transactionDate">
            </mat-form-field>

          </div>
          
          
          <mat-checkbox class="carbon-field" name="terms">
            I agree to the terms and conditions
          </mat-checkbox>
          </form>
     
     

          <div class="text-center">
            <button mat-raised-button color="primary">Buy</button>
            <button mat-raised-button color="accent">Sell</button>
            <button mat-raised-button color="warn">Cancel</button>
          </div>

          <mat-card-actions>
            <button mat-button class="btn">Close</button>
          </mat-card-actions>

      </mat-card-content>


    </mat-card>
</div>






