
<div class="content">
  <h1 style="font-family: 'Yeseva One', cursive;">Welcome to the Carbon Credits Market</h1>
  <p>Buy or sell carbon credits on our platform and help reduce your carbon footprint.</p>
</div>

<h1>Buy Carbon Credits</h1>

<!-- <form (ngSubmit)="buyCredits()">
  <label for="amount">Amount:</label>
  <input type="number" name="amount" [(ngModel)]="amount" required>

  <button type="submit">Buy</button>
</form> -->



<h1>Sell Carbon Credits</h1>
<!-- <form (ngSubmit)="sellCredits()">
  <label for="amount">Amount:</label>
  <input type="number" name="amount" [(ngModel)]="amount" required>

  <button type="submit">Sell</button>
</form> -->
