<div class="container">
  <div class="content">
    <h1 style="font-family: 'Yeseva One', cursive;">Welcome to the Carbon Credits Market</h1>
  </div>
  <div class="row">

    <div class="col-sm">
     
      <mat-card>
        <mat-card-header>
          <h1>  User Profile </h1>
        </mat-card-header>
        <mat-card-content>
          <ul class="profile-list">
            <li *ngFor="let item of profile | keyvalue">
              <span class="profile-key">{{item.key}}</span> : <span class="profile-value">{{item.value}}</span>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      
    </div>

    <div class="col-sm">

      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Buy/Sell Carbon Credits</h1>
        </div>
        <div class="card-body">
          <form #carbonForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" placeholder="Quantity" name="quantity"[(ngModel)]="formData.quantity">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" placeholder="Price"[(ngModel)]="formData.price">
                  </div>
                </div>
              </div>
              <div class="second">
                <div class="form-group carbon-field">
                  <label for="paymentMethod">Payment Method</label>
                  <div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="creditCard" name="paymentMethod" value="creditCard"[(ngModel)]="formData.paymentMethod" >
                      <label class="form-check-label" for="creditCard">
                        <svg class="bi" width="24" height="24" fill="currentColor">
                          <use xlink:href="bootstrap-icons.svg#credit-card-fill" />
                        </svg>
                   
                        Credit Card
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="paypal" name="paymentMethod" value="paypal" [(ngModel)]="formData.paymentMethod">
                      <label class="form-check-label" for="paypal">
                        <svg class="bi" width="24" height="24" fill="currentColor">
                          <use xlink:href="bootstrap-icons.svg#paypal" />
                        </svg>
                        PayPal
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="transactionDate">Date of purchase or sell</label>
                  <input type="date" class="form-control" id="transactionDate" placeholder="Transaction Date" name="transactionDate" [(ngModel)]="formData.transactionDate">
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="terms" name="terms" [(ngModel)]="formData.terms">
                  <label class="form-check-label" for="terms">
                    I agree to the terms and conditions
                  </label>
                </div>

              </div>


              <div class="text-center">
                <button mat-raised-button color="primary"(click)="buyCarbonCredits(formData)">Buy</button>
                <button mat-raised-button color="accent"(click)="sellCarbonCredits(formData)">Sell</button>
                <button mat-raised-button color="warn">Cancel</button>
              </div>
          </form>

          <button mat-button class="btn">Close</button>

      </div>
      

      </div>
    </div>

  </div>
     
</div>
<app-footer> </app-footer>


